/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    overflow-x: hidden;
}

.navbar {
    height: 150px;
    width: 100%;
    background-color: azure;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-logo {
    height: 100px;
    width: 25%; 
}

.logo {
    background-image: url("https://cdn01.signfordeaf.com/signfordeaf/logo_en.png");
    background-repeat: no-repeat;
    /* background-size: cover; */
    height: 70px;
    width: 100%;
    margin-top: 10px;
}
.border:hover {
    color: rgb(204, 35, 35);
    cursor: pointer;
}

p {
    color: purple;
    font-size: 1.5rem;
}

p:hover{
    color: #ffbb00;
    transition: color 0.3s ease;
}

/* Panel 2 */
.panel2 {
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover; 
    border: 1px solid gray;
    background-image: url('ai.png');
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 3rem;
    /* color: #222f3d; */
}

h4 {
    font-size: 1.5rem;
    /* color: rgb(122, 78, 86); */
    font-family: 'Times New Roman', Times, serif;
}
footer{
    margin-top: 20px;
}
.foot{
    background-color: #222f3d;
    color: white;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.5rem;
}
h5{
    color: white;
    font-size: 1rem ;
}
h6{
 color: white;
 text-decoration: underline;
 margin-top: 20px;
 font-size: 1.5rem;
}